<section class="gst-screenForm">
	<div class="gst-screenForm_wrapper gst-base_wrapper">
		<div class="gst-screenForm_title">
            Leave your phone number and our designer will contact you shortly!
        </div>

		<form class="gst-screenForm_form">
			<div class="gst-screenForm_inputs">
				<input type="text" name="phone" class="gst-screenForm_inputText js-phoneMask" placeholder="Enter phone number">
				<input type="submit" class="gst-screenForm_inputSubmit" value="Ask a question">
			</div>
		</form>
	</div>
</section>