$mainClass: '.gst-reviewsItem'

#{$mainClass}
    background: $color-white
    border-radius: 15px
    box-shadow: $box-shadow
    margin-bottom: $spacer-30
    margin-top: $spacer-20
    padding: $spacer-40 $spacer-45

    @media all and (max-width: $breakpoint-phone)
        padding: $spacer-40 $spacer-30

    &_topBlock
        @media all and (max-width: $breakpoint-phone)
            align-items: center
            display: flex
            margin-bottom: $spacer-20

    &_topBlockImg
        @media all and (max-width: $breakpoint-phone)
            border-radius: 50%
            height: 64px
            overflow: hidden
            width: 64px

    &_topBlockImgSrc
        @media all and (max-width: $breakpoint-phone)
            width: 64px

    &_topBlockLeft
        display: none

        @media all and (max-width: $breakpoint-phone)
            display: block
            margin-right: $spacer-15

    &_date
        color: $color-gray-81
        font-size: 16px
        font-weight: $fw-semi-bold
        line-height: $lh-small
        margin-bottom: $spacer-20

    &_name
        font-size: 24px
        font-weight: $fw-extra-bold
        line-height: $lh-small
        margin-bottom: $spacer-05

    &_stars
        margin-bottom: $spacer-20

        @media all and (max-width: $breakpoint-phone)
            margin-bottom: 0

    &_text
        font-size: 16px
        margin-bottom: $spacer-20

    &_btn
        background-color: $color-red
        border-radius: 5px
        color: $color-white
        display: inline-block
        font-size: 14px
        font-weight: $fw-bold
        min-width: 180px
        padding: $spacer-15
        text-decoration: none
        white-space: nowrap

        @media all and (max-width: $breakpoint-phone)
            padding: $spacer-15
            width: 100%

        &:hover
            background-color: $color-dark-red

    &_flex
        display: flex

        @media all and (max-width: $breakpoint-tablet)
            display: block

    &_images
        display: flex
        margin-left: $spacer-55

        @media all and (max-width: $breakpoint-tablet)
            justify-content: center
            margin-bottom: $spacer-20
            margin-left: 0
            width: 100%

    &_image1
        border-radius: 15px
        margin-right: $spacer-30
        overflow: hidden

        @media all and (max-width: $breakpoint-phone)
            display: none

    &_image2
        border-radius: 15px
        overflow: hidden

    &_btnContainer
        @media all and (max-width: $breakpoint-tablet)
            display: none

    &_btnContainerTablet
        display: none

        @media all and (max-width: $breakpoint-tablet)
            display: block
            text-align: center

    .svg-starFill
        margin-right: $spacer-05
