<form class="gst-form">
	<div class="gst-form_title">
        Promotion
    </div>

	<div class="gst-form_desc">
        Discount <span class="gst-base_colorRed">35%</span> for your kitchen
    </div>

	<div class="gst-form_date">
        until 01/01/2022
    </div>

    <div class="gst-form_inputs">
		<input type="text" name="phone" class="gst-form_inputText js-phoneMask" placeholder="Enter phone number">
		<input type="submit" class="gst-form_inputSubmit" value="Get Discount">
	</div>
</form>