$mainClass: '.gst-questions'

@mixin box
    background-color: $color-white
    background-position: 20px center
    background-repeat: no-repeat
    background-size: 42px 42px
    border-radius: 15px
    box-shadow: $box-shadow
    font-size: 15px
    font-weight: $fw-semi-bold
    padding: $spacer-30 $spacer-20 $spacer-30 $spacer-80
    width: 100%

    @media all and (max-width: $breakpoint-phone)
        background-position: 17px center
        background-size: 35px 35px
        padding: $spacer-25 $spacer-15 $spacer-25 $spacer-65

    @media all and (max-width: $breakpoint-phone)
        margin-bottom: $spacer-50

#{$mainClass}
    margin-bottom: $spacer-100

    @media all and (max-width: $breakpoint-tablet)
        margin-bottom: $spacer-60

    @media all and (max-width: $breakpoint-phone)
        margin-bottom: $spacer-40

    &_grid
        column-gap: $spacer-100
        display: grid
        grid-template: "time photo phone" "adrs photo phone"
        padding: 0 $spacer-70
        row-gap: $spacer-40

        @media all and (max-width: $breakpoint-tablet)
            column-gap: $spacer-40
            padding: 0

        @media all and (max-width: $breakpoint-phone)
            column-gap: 0
            grid-template: "photo" "phone"
            padding: 0 $spacer-55
            row-gap: $spacer-25

    &_cellTime
        grid-area: time

        @media all and (max-width: $breakpoint-phone)
            display: none

    &_cellAdrs
        grid-area: adrs

        @media all and (max-width: $breakpoint-phone)
            display: none

    &_cellPhoto
        display: flex
        flex-direction: column
        font-size: 20px
        font-weight: $fw-extra-bold
        grid-area: photo
        justify-content: center
        text-align: center

    &_cellPhone
        align-items: center
        display: flex
        grid-area: phone

        @media all and (max-width: $breakpoint-phone)
            display: flex
            justify-content: center

    &_time
        @include box
        background-image: url(../../img/questions/clock.svg)

    &_adrs
        @include box
        background-image: url(../../img/questions/place.svg)

    &_phone
        @include box
        background-image: url(../../img/questions/phone.svg)
        white-space: nowrap

        @media all and (max-width: $breakpoint-phone)
            margin-bottom: 0
            width: auto

    &_name
        margin-top: $spacer-30

    &_imgSrc
        border-radius: 50%
        max-width: 100%
