<section class="gst-questions">
	<div class="gst-base_wrapper">
		<h2 class="gst-base_globalTitle gst-base_globalTitle-center">
			Still have questions?&nbsp;-<br><span class="gst-base_colorRed">We'll be happy to&nbsp;answer them!</span>
		</h2>

		<div class="gst-questions_grid">
			<div class="gst-questions_cellTime">
				<div class="gst-questions_time">
					We answer the&nbsp;phone<br>
					from&nbsp;9:00 to&nbsp;21:00,<br>
					seven days a&nbsp;week!
				</div>
			</div>

			<div class="gst-questions_cellAdrs">
				<div class="gst-questions_adrs">
					Borderland,<br>
					st.&nbsp;Red rabbits,&nbsp;483
				</div>
			</div>

			<div class="gst-questions_cellPhoto">
				<div class="gst-questions_photo">
					<picture>
						<source srcset="./img/questions/img.avif 1x, ./img/questions/img@2x.avif 2x" type="image/avif">
						<source srcset="./img/questions/img.webp 1x, ./img/questions/img@2x.webp 2x" type="image/webp">
						<img
                            class="gst-questions_imgSrc"
                            src="./img/questions/img.jpg"
                            alt="Style"
                            srcset="./img/questions/img.jpg 1x, ./img/modal/img@2x.jpg 2x"
                        >
					</picture>
				</div>

				<div class="gst-questions_name">
					<span class="gst-base_colorRed">Julia</span>, Designer
				</div>
			</div>

			<div class="gst-questions_cellPhone">
				<div class="gst-questions_phone">
					+8 (123) 456-78-90
				</div>
			</div>
		</div>
	</div>
</section>