$mainClass: '.gst-connect'

#{$mainClass}
    margin-bottom: $spacer-60
    overflow: hidden

    @media all and (max-width: $breakpoint-tablet)
        margin-bottom: $spacer-20

    @media all and (max-width: $breakpoint-phone)
        margin-bottom: $spacer-40

    &_flex
        display: flex

        @media all and (max-width: $breakpoint-phone)
            display: block

    &_left
        padding-right: $spacer-80
        width: 60%

        @media all and (max-width: $breakpoint-tablet)
            padding-right: $spacer-50
            width: 50%

        @media all and (max-width: $breakpoint-phone)
            margin-bottom: $spacer-40
            padding-right: 0
            width: 100%

    &_right
        width: 40%

        @media all and (max-width: $breakpoint-tablet)
            width: 50%

        @media all and (max-width: $breakpoint-phone)
            width: 100%

    &_leftArrow, &_rightArrow
        align-items: center
        background-color: $color-white
        border-radius: 50%
        cursor: pointer
        display: flex
        height: 50px
        justify-content: center
        position: absolute
        top: calc(50% - $spacer-25)
        transition: $transition-global
        width: 50px
        z-index: 10

        @media all and (max-width: $breakpoint-phone)
            height: 39px
            width: 39px

        &:hover
            background-color: $color-dark-red

            svg
                @media all and (max-width: $breakpoint-phone)
                    width: 10px

                path
                    fill: $color-white

    &_leftArrow
        left: -$spacer-25

        @media all and (max-width: $breakpoint-phone)
            left: -$spacer-10

    &_rightArrow
        right: -$spacer-25

        @media all and (max-width: $breakpoint-phone)
            right: -$spacer-10

    &_miniTitle
        font-size: 36px
        font-weight: $fw-extra-bold
        line-height: $lh-medium
        margin-bottom: $spacer-15
        text-transform: uppercase

        @media all and (max-width: $breakpoint-tablet)
            font-size: 24px

    &_text
        p
            font-size: 20px

            @media all and (max-width: $breakpoint-tablet)
                font-size: 18px

        ul
            margin-bottom: $spacer-35
            margin-top: $spacer-25
            padding-left: 0

            li
                background: url(../../img/mark.svg) no-repeat left center
                font-size: 18px
                list-style: none
                margin-bottom: $spacer-15
                min-height: 26px
                padding-left: $spacer-55

    &_formWrapper
        background: $color-white
        border-radius: 10px
        box-shadow: $box-shadow
        margin-bottom: $spacer-15
        margin-top: $spacer-25
        padding: $spacer-20

    &_input
        background: $color-gray-f9
        border-radius: 4px
        border: 1px solid $color-gray-e8
        box-sizing: border-box
        font-size: 15px
        height: 54px
        margin-bottom: $spacer-10
        padding: $spacer-20 $spacer-25
        width: 100%

    &_submit
        background-color: $color-red
        border-radius: 5px
        border: 1px solid $color-red
        color: $color-white
        display: inline-block
        font-size: 14px
        font-weight: $fw-bold
        padding: $spacer-15
        text-align: center
        text-decoration: none
        white-space: nowrap
        width: 100%

        &:hover
            background-color: $color-dark-red

    // slick
    .slick
        &-list
            margin: 0px (-$spacer-55)
            padding: 0 $spacer-20

        &-slide
            margin: 0 $spacer-40
