$mainClass: '.gst-step'

#{$mainClass}
    background-position: center center
    background-repeat: no-repeat
    background-size: 1920px auto
    overflow: hidden
    padding-bottom: $spacer-100
    padding-top: $spacer-40
    position: relative

    @media all and (max-width: $breakpoint-tablet)
        padding-bottom: $spacer-60
        padding-top: $spacer-40

    @media all and (max-width: $breakpoint-phone)
        background-image: none
        margin-bottom: 0
        padding-bottom: $spacer-40
        padding-top: 0

    &::before
        background: $gradient-white
        content: ''
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%

    &_list
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin-bottom: $spacer-40
        gap: $spacer-40

        @media all and (max-width: $breakpoint-tablet)
            gap: $spacer-15

        @media all and (max-width: $breakpoint-phone)
            display: block

    &_btns
        display: flex
        justify-content: center

        @media all and (max-width: $breakpoint-phone)
            display: block
            padding-left: $spacer-20
            padding-right: $spacer-20
            margin: 0 auto

    &_btn
        background-color: $color-red
        border-radius: 5px
        border: 1px solid $color-red
        color: $color-white
        display: inline-block
        font-size: 14px
        font-weight: $fw-bold
        margin: 0 $spacer-10
        min-width: 290px
        padding: $spacer-15
        text-align: center
        text-decoration: none
        white-space: nowrap

        @media all and (max-width: $breakpoint-tablet)
            min-width: 220px

        @media all and (max-width: $breakpoint-phone)
            display: block
            margin-bottom: $spacer-15
            margin-left: 0
            margin-right: 0

        &:hover
            background-color: $color-dark-red

    &_btnInvert
        background-color: $color-transparent
        border-radius: 5px
        border: 1px solid $color-red
        color: $color-black
        display: inline-block
        font-size: 14px
        font-weight: $fw-bold
        margin: 0 $spacer-10
        min-width: 290px
        padding: $spacer-15
        text-align: center
        text-decoration: none
        white-space: nowrap

        @media all and (max-width: $breakpoint-tablet)
            min-width: 220px

        @media all and (max-width: $breakpoint-phone)
            display: block
            margin-left: 0
            margin-right: 0

        &:hover
            background-color: $color-dark-red
            color: $color-white

// webp/avif optimization
.fallback
    #{$mainClass}
        background-image: url(../../img/steps/bg.jpg)
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), all and (min-width: 991px)
            background-image: url(../../img/steps/bg@2x.jpg)
        @media all and (max-width: $breakpoint-phone)
            background-image: none

.webp
    #{$mainClass}
        background-image: url(../../img/steps/bg.jpg?as=webp)
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), all and (min-width: 991px)
            background-image: url(../../img/steps/bg@2x.jpg?as=webp)
        @media all and (max-width: $breakpoint-phone)
            background-image: none

.avif
    #{$mainClass}
        background-image: url(../../img/steps/bg.jpg?as=avif)
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), all and (min-width: 991px)
            background-image: url(../../img/steps/bg@2x.jpg?as=avif)
        @media all and (max-width: $breakpoint-phone)
            background-image: none
