$mainClass: '.gst-utpItem'

#{$mainClass}
    background-color: $color-white
    background-position: center 30px
    background-repeat: no-repeat
    border-radius: 10px
    box-shadow: $box-shadow
    font-size: 20px
    padding: $spacer-100 $spacer-30 $spacer-20 $spacer-30
    text-align: center
    flex: 1 1 25%

    @media all and (max-width: $breakpoint-tablet)
        background-size: 44px 44px
        font-size: 16px
        padding-top: $spacer-90

    @media all and (max-width: $breakpoint-phone)
        padding-left: $spacer-10
        padding-right: $spacer-10
        flex-basis: calc(50% - 8px)

    &Icon1
        background-image: url(../../img/utp/i1.svg)

    &Icon2
        background-image: url(../../img/utp/i2.svg)

    &Icon3
        background-image: url(../../img/utp/i3.svg)

    &Icon4
        background-image: url(../../img/utp/i4.svg)
