<header class="gst-header">
    <div class="gst-base_wrapper">
        <div class="gst-header_top">
            <div class="gst-header_logo">
                <img src="./img/header/logo.svg" class="gst-header_logoImg" alt="Logo">

                <div class="gst-header_desc">
                    Kitchens to order in Borderland
                </div>
            </div>

            <div class="gst-header_redLine"></div>

            <div class="gst-header_time">
                We answer calls<br>
                from&nbsp;9:00 to&nbsp;21:00<br>
                seven days a&nbsp;week
            </div>

            <div class="gst-header_redLine"></div>

            <div class="gst-header_place">
                Borderland,<br> st.&nbsp;Red rabbits, 483
            </div>

            <div class="gst-header_redLine"></div>

            <div class="gst-header_calc">
                <a href="#cost" class="gst-header_calcBtn js-modal">
                    Calculate the cost
                </a>
            </div>

            <div class="gst-header_redLine"></div>

            <div class="gst-header_phones">
                <a href="tel:+81234567890" class="gst-header_phone">
                    +8 (123) 456-78-90
                </a>

                <a href="tel:+81234567890" class="gst-header_phone">
                    +8 (123) 456-78-90
                </a>

                <a href="#callback" class="gst-header_callback js-modal">
                    Call you back?
                </a>
            </div>

            <div class="gst-header_burger js-burger"></div>
        </div>

        <div class="gst-header_bottom">
            {% include '../mainMenu/mainMenu.twig' with menu %}
        </div>
    </div>
</header>