<footer class="gst-footer">
	<div class="gst-base_wrapper">
		<div class="gst-footer_flex">
			<div class="gst-footer_flexLeft">
				"Deutsche Standart" The information on&nbsp;this site does not&nbsp;constitute a&nbsp;public offer.<br>
				This site is&nbsp;not an&nbsp;online store
			</div>

			<div class="gst-footer_flexRight">
				<div class="gst-footer_policy">
					<a href="javascript:" class="gst-footer_policyLink">
                        Privacy Policy
                    </a>
				</div>

				<div class="gst-footer_copy">
					© All Rights Reserved
				</div>
			</div>
		</div>
	</div>
</footer>