<section class="gst-contacts" data-scroll="contacts">
	<div class="gst-base_wrapper">
		<h2 class="gst-contacts_title">
			Contacts
		</h2>

		<div class="gst-contacts_map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5378.578747271076!2d-122.34927700000001!3d47.620506!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490151f4ed5b7f9%3A0xdb2ba8689ed0920d!2sSpace%20Needle!5e0!3m2!1sen!2sus!4v1697370465225!5m2!1sen!2sus" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>

		<div class="gst-contacts_mobileInfo">
			<div class="gst-contacts_time">
				We answer the phone from 9:00 to 21:00, seven days a week!
			</div>

			<div class="gst-contacts_place">
				Borderland, st.&nbsp;Red rabbits, 483
			</div>

			<div class="gst-contacts_phones">
				<div>
					<a href="tel:+81234567890" class="gst-contacts_phone">
                        +8 (123) 456-78-90
                    </a><br>

					<a href="tel:+81234567890" class="gst-contacts_phone">
                        +8 (123) 456-78-90
                    </a>
				</div>
			</div>
		</div>
	</div>
	<!-- To make the design as on the layout - you would need to use google maps API, but since they are paid I decided for the demo layout just insert iframe -->
</section>